body{
  /*background: gray; */
  
    /*background: url(../images/background.jpg);*/
    background: url(background.png);
    
    /*background: url(https://images.unsplash.com/photo-1520741412100-24cd6c2832e5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f4348fc639aed74754c68db44972844f&auto=format&fit=crop&w=1500&q=80);*/
    background-repeat: repeat;
  /*We use a picture from a link as a background*/  
}
