body{
  /*background: gray; */
  background: url(https://images.unsplash.com/photo-1520741412100-24cd6c2832e5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f4348fc639aed74754c68db44972844f&auto=format&fit=crop&w=1500&q=80);
  background-repeat:no-repeat;
  /*We use a picture from a link as a background*/
}

div{
  background: red;
  border: orange;
  border-width: thick; /* 10 px */
  border-style: dotted;
  }

p{
  color: red;
}
span{
  background: red;
  color: green;
}
/*Font Properties*/

p{
  font-style: italic;
  font-weight: bold;
}

/*Text Properties*/
h1{
  text-align: center;
}

/*If you want to use your own downloaded custom fonts:*/

/*@font-face{
  font-family: your_font_name;
  src: url(path/to/woff_file.woff);
}*/
